/* Main Green: #87c386 */
.table {
  display: flex;
  border-collapse: collapse;
  font-size: 0.9em;
  font-family: sans-serif;
  width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.table thead {
  display: flex;
  flex-shrink: 0;
}
.table tbody {
  display: flex;
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
}
.table tr {
  display: flex;
  flex-direction: column;
}
.table thead tr {
  background-color: #f3f3f3;
  border-bottom: 2px solid #000;
  color: #000;
  text-align: left;
}
.table th,
.table td {
  padding: 12px 15px;
  text-align: center;
}

.table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.table tbody tr:last-of-type {
  border-bottom: 2px solid #000;
}

.table tbody tr.active-row {
  font-weight: bold;
  color: #87c386;
}
