.form div {
  margin: 15px 0px;
}
.form input {
  width: 200px;
}
.optionContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 20px 0px;
  font-size: 28px;
  font-family: Inter;
}
.option {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.textInputContainer {
  display: flex;
  flex: row;
  justify-content: space-between;
  font-size: 28px;
  font-family: Inter;
}
.adressContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px 0px;
}
.adressInput {
  display: flex;
  flex-direction: column;
  font-size: 28px;
  font-family: Inter;
}
.submitContainer button {
  margin-top: 50px;
  width: 100%;
  border: none;
  border-radius: 10px;
  background: #87c386;
  color: #fff;
  text-align: center;
  font-size: 28px;
  font-family: Inter;
  font-weight: 700;
  line-height: 130%;
  margin-right: 20px;
}
.submitDeleteContainer button {
  margin-top: 50px;
  width: 100%;
  border: none;
  border-radius: 10px;
  background: #cd7070;
  color: #fff;
  text-align: center;
  font-size: 28px;
  font-family: Inter;
  font-weight: 700;
  line-height: 130%;
  margin-right: 20px;
}
.textInputContainer input,
.textInputContainer select,
.adressContainer input {
  font-size: 20px;
  font-family: Inter;
  width: 250px;
}
.textSelect {
  height: 100%;
  font-size: 20px;
  font-family: Inter;
}
