.list {
  margin-top: 100px;
  height: 100%;
  width: 100%;
  background-color: #333;
  border-radius: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 15px;
}
.list ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.list li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
}

.list li:nth-child(1) {
  background-color: green;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.list li:nth-child(2) {
  background-color: green;
  border-radius: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.links {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #0c7dc0;
  border-radius: 10px;
  border-color: #333;
  width: 150px;
}
