/* Main Green: #87c386 */
.table {
  table-layout: fixed;
  border-collapse: collapse;
  font-size: 0.9em;
  font-family: sans-serif;
  width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.table thead tr {
  background-color: #f3f3f3;
  border-bottom: 2px solid #000;
  color: #000;
  text-align: left;
}

.table th,
.table td {
  padding: 12px 15px;
  text-align: center;
  height: 60px;
}

.table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.table tbody tr:last-of-type {
  border-bottom: 2px solid #000;
}

.table tbody tr.active-row {
  font-weight: bold;
  color: #87c386;
}

.existingItem {
  color: #fff;
  background-color: #87c386;
  border-radius: 10px;
}

.selectedItem {
  color: #fff;
  background-color: #868cc3;
  border-radius: 10px;
}
